html {
  font-size: 100%; /* font-size 1em = 10px on default browser settings */
}

body {
    padding-top: 60px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 120rem;
    padding-bottom: 1px;
}


h1 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 24px;
}

h2 {
    font-size: 36px;
    padding-bottom: 6px;
}
h3 {
    font-size: 30px;
    font-style: italic;
    padding-bottom: 2px;
}
h4 {
    font-size: 36px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 6px;
}
h5 {
    font-size: 30px;
    font-style: italic;
    padding-top: 6px;
    padding-bottom: 2px;
}
h6 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

p {
    font-size: 18px;
    padding-bottom: 2px;
}

.demo_font_arial{
    font-family: arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}
