html {
  font-size: 100%; /* font-size 1em = 10px on default browser settings */
}

body {
    padding-top: 80px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100rem;
    padding-bottom: 10%;
}


h1 {
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
    font-style: italic;
}
h4 {
    font-size: 22px;
    font-weight: bold;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
    font-style: italic;
}

p {
    font-size: 18px;
}

.demo_font_arial{
    font-family: arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
