html {
  font-size: 100%; /* font-size 1em = 10px on default browser settings */
}

body {
    padding-top: 50px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.column {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 100rem;
    padding-bottom: 10%;
}


h1 {
    padding-top: 15px;
    font-size: 6.2rem;
}

h2 {
    padding-top: 15px;
    font-size: 5.4rem;
}
h3 {
    padding-top: 15px;
    font-size: 4.6rem;
}
h4 {
    padding-top: 15px;
    font-size: 3.8rem;
}
h5 {
    padding-top: 15px;
    font-size: 3rem;
}
h6 {
    padding-top: 15px;
    font-size: 2.2rem;
}

p {
    font-size: 10px;
}

.demo_font_arial{
    font-family: arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
